button.ytp-subtitles-button.ytp-button {
  display: none;
}

#ytControlPanel {
  display: inline-block;
  width: auto;
  height: 100%;

  .ytp-subtitles-button-icon {
    height: 48px;
  }

  button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  label {
    vertical-align: text-bottom;
  }
}

.youtube-multi-bottom {
  bottom: 2%;
  left: 25%;
  right: 25%;
  text-align: center;
  font-size: 21.3333px;
  color: rgba(255, 255, 255, 1);
  font-family: "YouTube Noto", Roboto, "Arial Unicode Ms", Arial, Helvetica,
    Verdana, "PT Sans Caption", sans-serif;

  .captions-text {
    display: inline;
  }
  .captions-text .bg {
    display: inline-block;
    background: rgba(8, 8, 8, 0.75);
    fill: rgb(255, 255, 255);
  }
}


#movie_player video::cue { visibility: hidden;}