.ytp-small-mode .ytp-chrome-controls .ytp-subtitles-button.ytp-button,
button.ytp-subtitles-button.ytp-button {
  display: none;
}

.ytp-small-mode .ytp-chrome-controls #ytControlPanel,
#ytControlPanel {
  display: inline-block;
  width: auto;
  height: 100%;
  line-height: normal;

  button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

#youtube-multi-checkboxes {
  display: inline-block;
  height: 48px;
  vertical-align: middle;

  .unscroll {
    display: flex;
    
    .arrow {
      display: block;
      cursor: pointer;
      visibility: hidden;
    
      &.left { padding-right: 3px;}
      &.right { padding-left: 3px;}
      
    &.show {
      visibility: visible;
    }
    }
    

    .scroll {
      overflow: auto;
      scroll-behavior: smooth;
      white-space: nowrap;
      scrollbar-width: none;
      display: block;
      max-width: 10em;
      height: 48px;
    }
  }
}

.ytp-small-mode.ytp-autohide
  #youtube-multi-caption-container
  .caption-window.ytp-caption-window-bottom {
  margin-bottom: 0;
}
.ytp-small-mode
  #youtube-multi-caption-container
  .caption-window.ytp-caption-window-bottom {
  margin-bottom: 32px;
}

.ytp-chrome-controls { container-type: inline-size; }

.youtube-multi-bottom {
  bottom: 2%;
  left: 0;
  right: 0;
  container-type: inline-size;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: "YouTube Noto", Roboto, "Arial Unicode Ms", Arial, Helvetica,
    Verdana, "PT Sans Caption", sans-serif;

  .captions-text {
    display: inline;
  }
  .captions-text .bg {
    display: inline-block;
    background: rgba(8, 8, 8, 0.75);
    fill: rgb(255, 255, 255);
    font-size: 12px;
  }
}

@container (min-width: 500px) {
  .youtube-multi-bottom .captions-text .bg {
    font-size: 15px;
  }
}

@container (min-width: 700px) {
  .youtube-multi-bottom .captions-text .bg {
    font-size: 17px;
  }
}

@container (min-width: 900px) {
  .youtube-multi-bottom .captions-text .bg {
    font-size: 21px;
  }
   #youtube-multi-checkboxes .unscroll .scroll { max-width: 20em;}
}

#movie_player video::cue {
  visibility: hidden;
}
