.ytp-small-mode .ytp-chrome-controls .ytp-subtitles-button.ytp-button,
button.ytp-subtitles-button.ytp-button {
  display: none;
}

.ytp-small-mode .ytp-chrome-controls #ytControlPanel,
#ytControlPanel {
  display: inline-block;
  width: auto;
  height: 100%;

  button {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  label {
    vertical-align: text-bottom;
  }
}

.youtube-multi-checkboxes {
  display: inline-block;
  position: relative;
  height: 48px;  
  vertical-align: text-bottom;
}

.youtube-multi-checkboxes .scroll {
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;
  scrollbar-width: none;
  padding: 0 10px;

  display: flex;
  max-width: 30em;
  height: 48px;
  position: relative;
  left: 0;
}

.not-to-scroll {
  position: relative;
}

.carousel-arrows {
  position: absolute;
  top: 12px;
  z-index: -1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* arrows */
.arrow {
  border: solid white 10px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.youtube-multi-checkboxes label {
  white-space: nowrap;
}

.ytp-small-mode.ytp-autohide
  #youtube-multi-caption-container
  .caption-window.ytp-caption-window-bottom {
  margin-bottom: 0;
}
.ytp-small-mode
  #youtube-multi-caption-container
  .caption-window.ytp-caption-window-bottom {
  margin-bottom: 32px;
}

.youtube-multi-bottom {
  bottom: 2%;
  left: 0;
  right: 0;
  container-type: inline-size;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: "YouTube Noto", Roboto, "Arial Unicode Ms", Arial, Helvetica,
    Verdana, "PT Sans Caption", sans-serif;

  .captions-text {
    display: inline;
  }
  .captions-text .bg {
    display: inline-block;
    background: rgba(8, 8, 8, 0.75);
    fill: rgb(255, 255, 255);
    font-size: 12px;
  }
}

@container (min-width: 500px) {
  .youtube-multi-bottom .captions-text .bg {
    font-size: 15px;
  }
}

@container (min-width: 700px) {
  .youtube-multi-bottom .captions-text .bg {
    font-size: 17px;
  }
}

@container (min-width: 900px) {
  .youtube-multi-bottom .captions-text .bg {
    font-size: 21px;
  }
}

#movie_player video::cue {
  visibility: hidden;
}
